language: node_js
node_js:
  - 14
install:
  - yarn
sudo: required
services:
  - docker

before_install:
  - docker build -t datnguyentan/frontend-docker .

script:
  - docker run -e CI=true datnguyentan/frontend-docker -f Dockerfile.dev yarn test

deploy:
  provider: elasticbeanstalk
  region: 'ap-southeast-1'
  app: 'frontend-docker'
  env: 'FrontendDocker-env'
  bucket_name: 'elasticbeanstalk-ap-southeast-1-333674319299'
  bucket_path: 'frontend-docker'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  skip_cleanup: true
