language: node_js
node_js:
  - 14
services:
  - docker

before_install:
  - npm i -g yarn
  - docker build -t datnguyentan/frontend-docker .

script:
  - docker run -e CI=true datnguyentan/frontend-docker yarn test

deploy:
  provider: elasticbeanstalk
  region: 'ap-southeast-1'
  app: 'docker'
  env: 'docker-env'
  bucket_name: 'elasticbeanstalk-ap-southeast-1-333674319299'
  bucket_path: 'frontend-docker'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  cleanup: true
